<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
<!--<add name="DbContexts" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\MVC5\Gai\Apps.Web\App_Data\TestDB8.mdf;Initial Catalog=TestDB8;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <add name="DbContexts" connectionString="Data Source=192.168.10.253;Initial Catalog=GaiLianTong;Persist Security Info=True;User ID=dlangle;Password=1qazXSW@" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>
